/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
* {
  box-sizing: border-box; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
  box-sizing: border-box; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  color: inherit; }

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 0; }

select::-ms-expand {
  display: none; }

@font-face {
  font-family: "universelse";
  src: url("../fonts/univers-else/UniversElse-Regular.ttf");
  font-style: normal;
  font-weight: normal; }

html {
  font-size: 1.9vw; }

body {
  font-family: "universelse";
  padding: 0 1.5rem 6rem 1.5rem;
  line-height: 1.4rem; }

a:hover {
  text-decoration: line-through; }

nav {
  position: fixed;
  background-color: white;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
  display: flex;
  flex-wrap: wrap;
  padding: 0.5rem 1.5rem 1rem 1.5rem;
  border-top: solid 1px; }
  nav a {
    color: black;
    padding: 0 3rem 0 0; }

.home > header {
  display: flex;
  flex-wrap: wrap;
  padding: 1rem 0 3rem 0; }
  .home > header .title {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 0 0 2.8rem 0; }
    .home > header .title h1 {
      font-size: 1.5rem;
      line-height: 2.1rem; }
    .home > header .title h2, .home > header .title h3 {
      width: calc(100% / 5 * 2);
      font-size: 1.5rem;
      line-height: 2.1rem; }
    .home > header .title h1 {
      width: calc(100% / 5); }
  .home > header .infos {
    width: calc(100% / 5); }
  .home > header .images {
    width: calc(100% / 5 * 4);
    margin: 0 0 1.4rem 0; }
    .home > header .images img {
      width: calc(100% / 5 * 4); }
  .home > header .about {
    margin: 0 0 0 calc(100% / 5);
    padding: 0 3rem 0 0;
    width: calc(100% / 5 * 3.5); }
    .home > header .about p {
      text-indent: 1.4rem; }
  .home > header .infos ul {
    margin: 0 0 2.8rem 0; }
  .home > header .infos ul:first-of-type li {
    margin: 0 0 1.4rem 0; }

.home main section {
  min-height: 100vh;
  padding: 0.5rem 0 0 0; }
  .home main section header {
    display: flex;
    flex-wrap: wrap; }
    .home main section header h2 {
      margin: 0 0 1.4rem 0; }
    .home main section header h2, .home main section header h3, .home main section header .num {
      font-size: 1.5rem;
      line-height: 2.1rem; }
    .home main section header h2, .home main section header h3 {
      width: calc(100% / 5 * 2); }
    .home main section header .num {
      width: calc(100% / 5); }

.home #program .arrow {
  float: right;
  cursor: pointer;
  padding: 0 0.7rem 0 0; }

.home #program .about {
  margin: 0 3rem 2.8rem calc(100% / 5); }

.home #program div {
  margin: 0 0 2.8rem 0; }
  .home #program div h3 {
    font-size: 1.5rem;
    line-height: 2.1rem;
    margin: 0 0 1.4rem calc(100% / 5); }

.home #program .events .event, .home #program .events .show, .home #program .exhibition .event, .home #program .exhibition .show {
  margin: 0 0 1.4rem 0; }
  .home #program .events .event > ul, .home #program .events .show > ul, .home #program .exhibition .event > ul, .home #program .exhibition .show > ul {
    display: flex;
    flex-wrap: wrap; }
    .home #program .events .event > ul h4, .home #program .events .event > ul ul, .home #program .events .show > ul h4, .home #program .events .show > ul ul, .home #program .exhibition .event > ul h4, .home #program .exhibition .event > ul ul, .home #program .exhibition .show > ul h4, .home #program .exhibition .show > ul ul {
      width: calc((100vw - 3rem) / 5 * 2); }
  .home #program .events .event .head, .home #program .events .show .head, .home #program .exhibition .event .head, .home #program .exhibition .show .head {
    border-bottom: solid 1px; }
    .home #program .events .event .head li, .home #program .events .show .head li, .home #program .exhibition .event .head li, .home #program .exhibition .show .head li {
      width: calc((100vw - 3rem) / 5 - 1px); }
  .home #program .events .event .bottom, .home #program .events .show .bottom, .home #program .exhibition .event .bottom, .home #program .exhibition .show .bottom {
    margin: 0.7rem 0 0 calc((100vw - 3rem) / 5 - 1px); }
    .home #program .events .event .bottom li, .home #program .events .show .bottom li, .home #program .exhibition .event .bottom li, .home #program .exhibition .show .bottom li {
      width: calc((100vw - 3rem) / 5 - 1px * 2); }
  .home #program .events .event .bottom.closed, .home #program .events .show .bottom.closed, .home #program .exhibition .event .bottom.closed, .home #program .exhibition .show .bottom.closed {
    display: none; }

.home #people .letter {
  height: 0;
  font-size: 1.5rem;
  margin: -0.25rem 0 0 0.4rem; }

.home #people .person {
  margin: 0 0 0.7rem calc(100% / 5);
  padding: 0.7rem 0 0 0; }
  .home #people .person .head {
    display: flex;
    flex-wrap: wrap; }
    .home #people .person .head h3 {
      width: calc(((100vw - 3rem) / 5 - 1px) * 2); }
    .home #people .person .head h3, .home #people .person .head li {
      border-bottom: solid 1px; }
    .home #people .person .head li {
      width: calc((100vw - 3rem) / 5 - 1px); }
      .home #people .person .head li .arrow {
        float: right;
        cursor: pointer;
        padding: 0 0.7rem 0 0; }
      .home #people .person .head li a:hover {
        text-decoration: none;
        color: red; }
    .home #people .person .head h3:hover {
      text-decoration: none; }
  .home #people .person .bottom .projects {
    margin: 0.7rem 0 0 1rem; }
    .home #people .person .bottom .projects li {
      list-style-type: circle; }
  .home #people .person .bottom.closed {
    display: none; }

.home #projects h2 {
  margin: 0; }

.home #projects .project .head {
  display: flex;
  flex-wrap: wrap;
  padding: 0.7rem 0 0.7rem 0;
  border-bottom: solid 1px; }
  .home #projects .project .head h3 {
    width: calc(100% / 5 * 2); }
  .home #projects .project .head h3, .home #projects .project .head li:first-of-type {
    font-size: 1.5rem; }
  .home #projects .project .head li {
    width: calc(100% / 5);
    padding: 0.5rem 0 0 0; }

.home #projects .project .body {
  display: flex;
  flex-wrap: wrap;
  padding: 0.7rem 0 0 0; }
  .home #projects .project .body .images {
    width: calc(100% / 5 * 3);
    margin: 0.5rem 0 0 0; }
    .home #projects .project .body .images img {
      width: calc(100% / 3 * 2);
      margin: 0 0 0.7rem 0; }
    .home #projects .project .body .images img:nth-child(odd) {
      margin: 0 0 0.7rem calc(100% / 3); }

.home #projects .project .text {
  width: calc(100% / 5 * 2);
  padding: 0 1rem 0 0; }
  .home #projects .project .text ul, .home #projects .project .text p {
    margin: 0 0 1.4rem 0; }

.home #projects .project.fixed .head {
  position: fixed;
  top: 0;
  width: calc(100% - 3rem);
  background-color: white; }
