@import 'reset';

$purple : #5f45ff;

@font-face{

	font-family:"universelse";
	src: url("../fonts/univers-else/UniversElse-Regular.ttf");
	font-style: normal;
	font-weight: normal;
}


html{

	font-size: 1.9vw;
}

body{

	font-family: "universelse";
	padding: 0 1.5rem 6rem 1.5rem;
	line-height: 1.4rem;
}	

a:hover{

	text-decoration: line-through;
}



nav{

	position: fixed;
	background-color: white;
	bottom: 0;
	left: 0;
	width: 100%;
	z-index: 9999;
	display: flex;
	flex-wrap: wrap;
	padding: 0.5rem 1.5rem 1rem 1.5rem;
	border-top: solid 1px;

	a{

		color: black;
		padding: 0 3rem 0 0;
	}

}

.home{

	>header{

		display: flex;
		flex-wrap: wrap;
		padding: 1rem 0 3rem 0;

		.title{	

			width: 100%;
			display: flex;	
			flex-wrap: wrap;
			margin: 0 0 2.8rem 0;

			h1{

				font-size: 1.5rem;
				line-height: 2.1rem;
			}

			h2, h3{

				width: calc(100% / 5 * 2);
				font-size: 1.5rem;
				line-height: 2.1rem;
			}

			h1{

				width: calc(100% / 5);
			}

		}

		.infos{

			width: calc(100% / 5);
		}

		.images{

			width: calc(100% / 5 * 4);
			margin: 0 0 1.4rem 0;

			img{

				width: calc(100% / 5 * 4);
			}

		}

		.about{

			margin: 0 0 0 calc(100% / 5);
			padding: 0 3rem 0 0;
			width: calc(100% / 5 * 3.5);

			p{

				text-indent: 1.4rem;
			}

		}

		.infos{

			ul{

				margin: 0 0 2.8rem 0;
			}

			ul:first-of-type{

				li{

					margin: 0 0 1.4rem 0;
				}
			}


		}
	}

	main{

		section{

			min-height: 100vh;
			padding: 0.5rem 0 0 0;


			header{

				display: flex;
				flex-wrap: wrap;

				h2{
					margin: 0 0 1.4rem 0;
				}

				h2, h3, .num{

					font-size: 1.5rem;
					line-height: 2.1rem;
				}

				h2, h3{

					width: calc(100% / 5 * 2);
				}

				.num{

					width: calc(100% / 5);

				}
			}
		}
	}

	#program{

		.arrow{

			float: right;
			cursor: pointer;
			padding: 0 0.7rem 0 0;
		}

		.about{

			margin: 0 3rem 2.8rem calc(100% / 5);
		}

		div{

			margin: 0 0 2.8rem 0;

			h3{

				font-size: 1.5rem;
				line-height: 2.1rem;
				margin: 0 0 1.4rem calc(100% / 5);

			}

		}

		.events, .exhibition{

			.event, .show{

				margin: 0 0 1.4rem 0;

				>ul{

					display: flex;
					flex-wrap: wrap;

					h4, ul{

						width: calc((100vw - 3rem) / 5 * 2);
					}

				}

				.head{

					li{

						width: calc((100vw - 3rem) / 5 - 1px);

					}

					border-bottom: solid 1px;

				}

				.bottom{

					margin: 0.7rem 0 0 calc((100vw - 3rem) / 5 - 1px);

					li{

						width: calc((100vw - 3rem) / 5 - 1px * 2);
					}
				}

				.bottom.closed{

					display: none;
				}


			}

		}

	}

	#people{

		.letter{

			height: 0;
			font-size: 1.5rem;
			margin: -0.25rem 0 0 0.4rem;
		}

		.person{

			margin: 0 0 0.7rem calc(100% / 5);
			padding: 0.7rem 0 0 0;

			.head{

				display: flex;
				flex-wrap: wrap;


				h3{

					width: calc(((100vw - 3rem) / 5 - 1px) * 2);


				}

				h3, li{

					border-bottom: solid 1px;

				}

				li{

					width: calc((100vw - 3rem) / 5 - 1px);
					
					.arrow{

						float: right;
						cursor: pointer;
						padding: 0 0.7rem 0 0;
					}

					a:hover{

						text-decoration: none;
						color: red;

					}
				}


				h3:hover{

					text-decoration: none;
				}


			}

			.bottom{

				.projects{

					margin: 0.7rem 0 0 1rem;

					li{

						list-style-type: circle;
					}
				}
			}

			.bottom.closed{

				display: none;
			}
		}
	}

	#projects{

		h2{

			margin: 0;
		}

		.project{

			.head{

				display: flex;
				flex-wrap: wrap;
				padding: 0.7rem 0 0.7rem 0;
				border-bottom: solid 1px;

				h3{

					width: calc(100% / 5 * 2);
				}

				h3, li:first-of-type{

					font-size: 1.5rem;
				}

				li{

					width: calc(100% / 5);
					padding: 0.5rem 0 0 0;
				}

			}

			.body{

				display: flex;
				flex-wrap: wrap;
				padding: 0.7rem 0 0 0;

				.images{

					width: calc(100% / 5 * 3);
					margin: 0.5rem 0 0 0;


					img{

						width: calc(100% / 3 * 2);
						margin: 0 0 0.7rem 0;
					}

					img:nth-child(odd){

						margin: 0 0 0.7rem calc(100% / 3);
					}
				}
			}



			.text{

				width: calc(100% / 5 * 2);
				padding: 0 1rem 0 0;

				ul, p{

					margin: 0 0 1.4rem 0;
				}

			}

		}

		.project.fixed{

			.head{

				position: fixed;
				top: 0;
				width: calc(100% - 3rem);
				background-color: white;
			}
		}
	}

}